/*portfoliostyle.css */


.maintitle {

    font-family: fantasy;

    font-weight: bold;

    font-style: oblique;

    text-align: center;

    font-size: 75px;

}

* {
    background-color: azure;
}

